<main class="container text-center">
    <!-- Previous Content 83FFA3-->
    <div class="row">
        <p class="text-center text-danger">Our Services</p>
        <div class="col-12">
            <h2>We provide great services for our<br> customers based on needs</h2>
        </div>
        <div class="col-md-4">
            <!-- <div class="card"> -->
            <!-- <div class="card-body">
                    <h5 class="card-title">Graphic Design</h5>
                    <p class="card-text">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                    <a href="#" class="btn btn-light">Learn more</a>
                </div> -->
            <!-- </div> -->
            <img src="../../../assets/services_green_card1.png">
        </div>
        <div class="col-md-4">
            <img src="../../../assets/services_blue_card2.png">
            <!-- <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                    <a href="#" class="btn btn-light">Learn more</a>
                </div>
            </div> -->
        </div>
        <div class="col-md-4">
            <!-- <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Content Writing</h5>
                    <p class="card-text">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                    <a href="#" class="btn btn-light">Learn more</a>
                </div>
            </div> -->
            <img src="../../../assets/services_red_card3.png">
            <!-- <div><img src="../../../assets/service_green_dots.svg"></div> -->
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <img src="../../../assets/services_frankli.svg" alt="Franklin" >
        </div>
        <div class="col-md-6 pt-3">
            <div style="text-align: left;"> 
                <div class="mb-3"><img src="../../../assets/services_stars_icon.svg" ></div>
                <p class="mb-0">"OMG! I cannot believe that I have got a brand new landing page <br> after getting Albino. It was super easy to edit and publish."</p>
                <p class="mt-2"><strong>Franklin Hicks</strong> <span class="text-muted">| Web Developer</span></p>
            </div>
        </div>
    </div>
    
    
    
</main>