<!-- <div class="container pt-5">
    <div class="row justify-content-between">
        <div class="col-md-6 text-start">
            <p class="text-danger fw-bold">OUR STORY</p>
            <h2>We know how everything works <br>and why your business is failing <br>over and over again.</h2>
        </div>
        <div class="col-md-6 ourstory_blue_dots">
            <img src="../../../assets/ourstory_blue_dots.svg" alt="blue dots">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 d-flex">
            <div class="col-md-4 pt-5">
                <img src="../../../assets/our_service_image.png" alt="Image 1" height="100%" width="80%">
            </div>
            <div class="col-md-4 pb-5 mx-5">
                <img src="../../../assets/our_service_image2.png" alt="Image 2" height="60%" width="60%">
                <p class="pt-4">We share common trends and strategies for improving your rental income and making sure you stay in high
                    demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing
                    page.</p>
            </div>
            <div class="col-md-4 mx-4 pt-5 justify-content-center">
                <img src="../../../assets/our_service_image3.png" alt="Image 3" height="30%" width="30%">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4">
            <h3 class="text-center"><strong>1M+</strong></h3>
            <p>Customers visit Omega every month to get their service done.</p>
        </div>
        <div class="col-md-4">
            <h3  class="text-center"><strong>92%</strong></h3>
            <p>Satisfaction rate comes from our awesome customers.</p>
        </div>
        <div class="col-md-4">
            <h3  class="text-center"><strong>4.9/5.0</strong></h3>
            <p>Average customer ratings we have got all over the internet.</p>
        </div>
    </div>
</div> -->