/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header a {
    color: #000;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main img {
    max-width: 100%;
    margin-top: 20px;
}

main .text-danger {
    color: #ff6347 !important; 
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main p {
    color: #6c757d;
    font-size: 1.1rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #fff;
}

.testimonial {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 60px;
    height: 60px;
}

.testimonial p {
    margin: 0;
}

.testimonial strong {
    font-size: 1.1rem;
}

.testimonial span {
    font-size: 0.9rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #4b7bec;
    border-color: #4b7bec;
}

.btn-primary:hover {
    background-color: #3867d6;
    border-color: #3867d6;
} */
