<main class="container text-center my-5">
    <div class="row ">
        <div class="col-md-6 text-start">
            <p class="text-danger fw-bold">OUR STORY</p>
            <h2>We know how everything works and why your business is failing over and over again.</h2>
        </div>
    </div>

    <!-- <div class="row my-5 align-items-center">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-start">
            <p>We share common trends and strategies for improving your rental income and making sure you stay in high demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <div class="row">
                <div class="col-4">
                    <h3>1M+</h3>
                    <p>Customers visit Omega every month to get their service done.</p>
                </div>
                <div class="col-4">
                    <h3>92%</h3>
                    <p>Satisfaction rate comes from our awesome customers.</p>
                </div>
                <div class="col-4">
                    <h3>4.9/5.0</h3>
                    <p>Average customer ratings we have got all over internet.</p>
                </div>
            </div>
        </div>
    </div> -->
</main>