.first-background-image {
  background-image: url('../../../assets/first_background_image.png');
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  overflow-x: hidden !important;
}

.nav_a a {
  color: black;
  text-decoration: none;
}

.container-fluid {
  overflow: hidden;
}

/* service */
main img {
  max-width: 90%;
  margin-top: 10px;
}

main p {
  color: #6c757d;
  font-size: 1.1rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #fff;
}

.btn-primary {
  background-color: #4b7bec;
  border-color: #4b7bec;
}

.btn-primary:hover {
  background-color: #3867d6;
  border-color: #3867d6;
}

.container {
  overflow: hidden !important;
}

/* ourstory */
.animated-text-conatiner {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.animated-text span {
  display: block;
  opacity: 0;
  animation: fadeIn 0s forwards;
}

.animated-text span:nth-child(1) {
  animation-delay: 1s;
}

.animated-text span:nth-child(2) {
  animation-delay: 2s;
}

.animated-text span:nth-child(3) {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animated-image {
  opacity: 0;
  transform: rotate(0deg) scale(0.5);
  animation: animateImage 3s forwards;
}

@keyframes animateImage {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

.animated-image1:hover{
  scale: 1.2;
}
.animated-image2 {
  transition: transform 1s, opacity 1s; 
}

.animated-image2:hover {
  transform: rotate(10deg) scale(1.2);
  opacity: 0.8;
}
.our_service_image{
    /* position: absolute; */
    animation-name: animeline;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes animeline {

  0%{
    left: 0;
    top:0;
    rotate: 0deg;
  }
  50%{
    left: 75%;
    top: 0;
    rotate: 360deg;
  }
  100%{
    left: 75%;
    top: 50%;
    rotate: 180deg;
  }
}

/* why choose us */
.feature-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.feature-box .icon {
  font-size: 2rem;
  color: #007bff;
}

.feature-box h5 {
  font-weight: bold;
}

.feature-box p {
  color: #6c757d;
}

/* Ian Klein */
.testimonial-section {
  /* background: linear-gradient(180deg, #004085 0%, #007bff 100%); */
  background-image: url('../../../assets/IanKleinBG.svg');
}

.footer a {
  text-decoration: none;
}